@model SWEprotein.Models.tbProductCategory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ta bort kategori</title>   <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
   
    <fieldset>
        <legend>Ta bort kategori</legend>
    
        <div class="display-label">
           Namn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.sName)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Ta bort" /> 
         
        </p>
    }
       @Html.ActionLink("Adminsidan", "Index") |    
            @Html.ActionLink("Till listan", "ProductCategory")
</body>
</html>
