@{
    ViewBag.Title = "Kostscheman";
}

<h2>Kostscheman</h2>


Kostscheman........... 

<div id="simplediv" style="background-color:yellow;border:1px solid black;display:none;width:200px;height:200px;">Click anywhere in the document to auto-close me</div>

<a href="#" onclick="Popup.show('simplediv');return false;">Click Here To Show DIV</a>