@model SWEprotein.Models.LocalPasswordModel
@{
    ViewBag.Title = "Redigera konto";
}

<hgroup class="title">
  
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Du är inloggad som: <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
<br/><br/>

