@{
    Layout = null;
}
@using SWEprotein.Models
@*<style type="text/css">.text-bold { font-weight:bold;}</style>

<div class="row">
    <div class="col-md-12" style="padding-left:13px; padding-right:5px; margin-top:10px;">
        <div class="thumbnail" style="height:200px; width:166px; background-color:white;">
  
            <a href="/Product/Topplistan"> <p class="text-center h4 text-primary" style="margin:0;">TOPPLISTAN</p></a>
            <hr/>
          
                @foreach (tbProduct prod in Model)
                {
        
            
              @Html.ActionLink(@prod.sName, "Produkt", "Product", new { id = prod.iID}, new {@class="text-primary text-bold"})
                    <hr style="padding:0; margin:0;"/>
    
                }
          
        </div>
    </div>
</div>*@


    @foreach (tbProduct prod in Model)
    {
        <div class="row" style="margin-bottom:20px;">
       <div class="col-md-12">
            <div class="thumbnail">
               <a href="/Product/Produkt/@prod.iID"> <img src="@prod.sPicture" class="img-responsive" alt="..."></a>
             </div>
            
        </div>
  </div>
  
    }
